<tr id="<%= dom_id(movie) %>">
  <td class="<%= 'sorted-column' if sort_column == 'title' %>"><%= movie.title %></td>
  <td class="<%= 'sorted-column' if sort_column == 'rating' %>"><%= movie.rating %></td>
  <td class="<%= 'sorted-column' if sort_column == 'release_date' %>"><%= movie.release_date.strftime("%Y-%m-%d") %></td>
  <td>
    <%= link_to "Show this movie", movie %> |  
    <%= link_to "Edit this movie", edit_movie_path(movie) %> 
    <%= button_to "Destroy this movie", movie, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
  </td>
</tr>

